SUPABASE_URL=
SUPABASE_KEY=
TATUM_API_KEY=
SHINAMI_API_KEY=
GROQ_API_KEY=
SUI_PRIVATE_KEY=
WALRUS_AGGREGATORS=https://aggregator.walrus-mainnet.walrus.space,https://aggregator.walrus-testnet.walrus.space
WALRUS_EPOCHS=5
SUI_MAINNET_RPC=https://api.tatum.io/v3/sui/node
PLATFORM_WALLET_ADDRESS=0x277103e93db5eb25e0c0c83c9f6f3be1a107325e4988720a69a5e809615cfcc5
PLATFORM_COMMISSION_PERCENT=5
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
AUTH_SESSION_SECRET=
FRONTEND_ORIGINS=
APP_ENV=
AUTH_COOKIE_SECURE=false
AUTH_SESSION_TTL_SECONDS=604800